<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785055122400-claickv1kpq8pmpgd0reka26m95oikgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785055122400-claickv1kpq8pmpgd0reka26m95oikgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDml_8qA0V0r_1xR0VYY8VjtRthwCEPGqI</string>
	<key>GCM_SENDER_ID</key>
	<string>785055122400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niceApps.AjarSearch</string>
	<key>PROJECT_ID</key>
	<string>ajarsearch-1f4aa</string>
	<key>STORAGE_BUCKET</key>
	<string>ajarsearch-1f4aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785055122400:ios:075c3c749a3c244ad26185</string>
</dict>
</plist>